
/*--------------------------------Color Pallete---------------------------------*/
/*
* #1f4968 = Saturated Blue
* #1ee3ce = Cyan
* #525151 = grayish
* #6262c5 = Purple
* #fff9f9 = white


*Fonts
*Text:      font-family: 'Inconsolata', monospace;
*Titles:    font-family: 'Alegreya Sans', sans-serif;
*/

/*--------------------------------Basic Settings---------------------------------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1f4968;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}


/*--------------------------------Header---------------------------------*/

.HeadContainer {
    width: 100%;
    height: fit-content;
    position: relative;
}

.Header {
    padding: 5px;
    text-align: center;
    background: url("../Assets/Servers.jpg") no-repeat center;
    background-size: cover;
    border: #1ee3ce 3px;
    border-style: none solid solid solid;
    font-family: 'Alegreya Sans', sans-serif; 
}

.Header h2 {
    font-size: 2.3em;
    color:  #6262c5;
}

.Header h1 {
    font-size: 3.2em;
    color:  #fff9f9;
}

/*--------------------------------Main Page Sticker---------------------------------*/

#HeadSticker {
    top: 1.3em;
    left: 2em;
    position: absolute;

    /*Animation*/
    animation: yogurtBob 3.2s ease-in-out 2s infinite forwards;

}

#NavSticker {
    top: .5em;
    left: 2.4em;

    position: relative;
    opacity: 0.0;
    float: left;

    /*Fading Out Settings*/
}

#AuxNavSticker{

    animation: yogurtBob 3.2s ease-in-out 2s infinite forwards;
}



/*--------------------------------Navigation Bar---------------------------------*/


/*--- General NavBar Settings ---*/
#NavBar {
    /*Sizes*/
    height: 80px;
    width: 100%;
    
    /*Border Stylings to the Navbar*/ 
    border-radius: 0px 0px 25px 25px;

    /*Color*/
    background-color: rgb(43, 43, 43);

    /*Alignment*/
    text-align: center;
    
}

#NavBar .OptionContainer {
    max-height: 80px;
    margin: 0;
    padding: 0;
}

#NavBar ul {
    list-style: none;
}

#NavBar a {
    min-height: 79px;
}

/*--- Menu Positioning Rules ---*/
#NavBar .MainOptions {
    /*---Position ---*/
    position: relative;
    display: inline-block;
    z-index: 1000;
}

/*--- Option Decoration Settings ---*/
#NavBar li a {
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    color: white;
    font-family: 'Inconsolata', monospace;
}

#NavBar li a:hover {
    background-color: white;
    color: #2b2b2b;
}

#NavBar li:hover .Dropdown {
    display: block;
    z-index: 10000;
    background-color: #2b2b2b;
    margin: 0;
    padding: 0;
}


#NavBar li a.active {
    background-color: #1ee3ce;
    color: #2b2b2b;
}

/*--- NavBar DropDown Menu ---*/
.Dropdown {
    display: none;
    position: absolute;

    box-shadow: black 0px 0px 5px 0px;

    z-index: 10;
    top: 75px;
}

.Dropdown a {
    width: 100%;
    height: auto;
}



/*--- Classes for Sticky NavBar ---*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.extraPad {
    padding-top: 90px;
}

/*--------------------------------Main Content---------------------------------*/

.BodyContainer {
    /*Sizes*/
    margin: 0;
    padding-bottom: 16px;
    width: 100%;
    
    /*Position*/
    position: relative;
    
    /*Decoration*/
    color: #1ee3ce;
    font-family: 'Inconsolata', monospace;
    
    /*Layer*/
    z-index: 100;
}


.BodyContainer p {
    font-size: 1.3em;
}


/*--- Classes for general content use ---*/
.parallax {
    /* The image used CAN AND SHOULD BE CHANGED*/
    background-image: url("../Assets/Servers.jpg");
  
    /* Set a specific height CAN AND SHOULD BE CHANGED*/
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    /*Extra Settings*/
    margin: 0;
    padding: 0;
  }

#ParallaxContent {
    border: #1ee3ce 3px solid;
    backdrop-filter: blur(5px);
    height: 250px;
}


.Content {
    text-align: center;
    width: 650px;
    margin: auto;
}

.Primary-Title {
    font-size: 1.7em; 
    text-decoration: underline;
    text-shadow: #3172a0 5px 0 3px;
    text-align: center;
}

.Secondary-Title {
    font-size: 1.45em; 
    text-decoration: underline;
    text-shadow: #547b99 5px 0 3px;
    text-align: center;
}

.Tertiary-Title {
    font-size: 1.25em; 
    text-decoration: underline;
    text-shadow: #6595b9 5px 0 3px;
    text-align: center;
}


/*--------------------------------Foot Notes---------------------------------*/

.FootContainer {
    font-family: 'Inconsolata', monospace;
    padding: 12px 15px;
    border-radius: 50px 50px 0px 0px;
    background-color: rgb(43, 43, 43);
    color: #fff9f9;
    text-align: center;
    
}


/*--------------------------------Animation---------------------------------*/

@keyframes yogurtBob {
    30% {
        transform: rotate(35deg);
    }

    60% {
        transform: rotate(-15deg);
    }

    80% {
        transform: rotate(0deg);
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1.0;
    }
}